<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="ie=edge" http-equiv="x-ua-compatible"/>
  <title>
   {{ var_1 }}
  </title>
  <meta content="noindex, follow" name="robots">
   <meta content="" name="description"/>
   <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
   <link href="assets/images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
   <link href="assets/css/vendor/bootstrap.min.css" rel="stylesheet"/>
   <link href="assets/css/vendor/slick.css" rel="stylesheet"/>
   <link href="assets/css/vendor/slick-theme.css" rel="stylesheet"/>
   <link href="assets/css/vendor/aos.css" rel="stylesheet"/>
   <link href="assets/css/plugins/feature.css" rel="stylesheet"/>
   <link href="assets/css/style.css" rel="stylesheet"/>
  </meta>
 </head>
 <body class="template-color-1 home-sticky spybody" data-offset="150" data-spy="scroll" data-target=".navbar-example2">
  <div class="d-none d-xl-block">
   <header class="rn-header-area d-flex align-items-start flex-column left-header-style">
    <div class="logo-area">
     <a href="index.html">
      <img alt="personal-logo" src="assets/images/logo/logo-06.png"/>
     </a>
    </div>
    <nav class="mainmenu-nav navbar-example2" id="sideNavs">
     <ul class="primary-menu nav nav-pills">
      <li class="nav-item">
       <a class="nav-link smoth-animation-two active" href="#home">
        <i data-feather="home">
        </i>
        {{ var_2 }}
       </a>
      </li>
      <li class="nav-item">
       <a class="nav-link smoth-animation-two" href="#features">
        <i data-feather="briefcase">
        </i>
        {{ var_3 }}
       </a>
      </li>
      <li class="nav-item">
       <a class="nav-link smoth-animation-two" href="#portfolio">
        <i data-feather="layers">
        </i>
        {{ var_4 }}
       </a>
      </li>
      <li class="nav-item">
       <a class="nav-link smoth-animation-two" href="#resume">
        <i data-feather="users">
        </i>
        {{ var_5 }}
       </a>
      </li>
     </ul>
    </nav>
    <div class="footer">
     <div class="social-share-style-1 mt--40">
      <span class="title">
       {{ var_6 }}
      </span>
      <ul class="social-share d-flex liststyle">
       <li class="facebook">
        <a href="#">
         <svg class="feather feather-facebook" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z">
          </path>
         </svg>
        </a>
       </li>
       <li class="instagram">
        <a href="#">
         <svg class="feather feather-instagram" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <rect height="20" rx="5" ry="5" width="20" x="2" y="2">
          </rect>
          <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z">
          </path>
          <line x1="17.5" x2="17.51" y1="6.5" y2="6.5">
          </line>
         </svg>
        </a>
       </li>
       <li class="linkedin">
        <a href="#">
         <svg class="feather feather-linkedin" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z">
          </path>
          <rect height="12" width="4" x="2" y="9">
          </rect>
          <circle cx="4" cy="4" r="2">
          </circle>
         </svg>
        </a>
       </li>
      </ul>
     </div>
    </div>
   </header>
  </div>
  <div class="header-style-2 d-block d-xl-none">
   <div class="row align-items-center">
    <div class="col-6">
     <div class="logo">
      <a href="index.html">
       <img alt="Logo" src="assets/images/logo/logo.png"/>
      </a>
     </div>
    </div>
    <div class="col-6">
     <div class="header-right text-right">
      <div class="hamberger-menu">
       <i class="feather-menu humberger-menu" id="menuBtn">
       </i>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="popup-mobile-menu">
   <div class="inner">
    <div class="menu-top">
     <div class="menu-header">
      <a class="logo" href="index.html">
       <img alt="Personal Portfolio" src="assets/images/logo/logos-circle.png"/>
      </a>
      <div class="close-button">
       <button class="close-menu-activation close">
        <i data-feather="x">
        </i>
       </button>
      </div>
     </div>
     <p class="discription">
      {{ var_7 }}
     </p>
    </div>
    <div class="content">
     <ul class="primary-menu nav nav-pills">
      <li class="nav-item">
       <a class="nav-link smoth-animation-two active" href="#home">
        {{ var_8 }}
       </a>
      </li>
      <li class="nav-item">
       <a class="nav-link smoth-animation-two" href="#features">
        {{ var_9 }}
       </a>
      </li>
      <li class="nav-item">
       <a class="nav-link smoth-animation-two" href="#portfolio">
        {{ var_10 }}
       </a>
      </li>
      <li class="nav-item">
       <a class="nav-link smoth-animation-two" href="#resume">
        {{ var_11 }}
       </a>
      </li>
     </ul>
     <div class="social-share-style-1 mt--40">
      <span class="title">
       {{ var_12 }}
      </span>
      <ul class="social-share d-flex liststyle">
       <li class="facebook">
        <a href="#">
         <svg class="feather feather-facebook" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z">
          </path>
         </svg>
        </a>
       </li>
       <li class="instagram">
        <a href="#">
         <svg class="feather feather-instagram" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <rect height="20" rx="5" ry="5" width="20" x="2" y="2">
          </rect>
          <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z">
          </path>
          <line x1="17.5" x2="17.51" y1="6.5" y2="6.5">
          </line>
         </svg>
        </a>
       </li>
       <li class="linkedin">
        <a href="#">
         <svg class="feather feather-linkedin" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z">
          </path>
          <rect height="12" width="4" x="2" y="9">
          </rect>
          <circle cx="4" cy="4" r="2">
          </circle>
         </svg>
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
  </div>
  <main class="page-wrapper-two">
   <section class="slider-style-5 rn-section-gap pb--110 align-items-center with-particles" id="home">
    <div id="particles-js">
    </div>
    <div class="container">
     <div class="row">
      <div class="col-lg-12">
       <div class="banner-inner">
        <div class="thumbnail gradient-border gradient-animation">
         <img alt="" class="gradient-border" id="border" src="assets/images/slider/banner-06.png"/>
        </div>
        <h1>
         {{ var_13 }}
        </h1>
        <span class="cd-headline clip is-full-width">
         <span>
          {{ var_14 }}
         </span>
         <span class="cd-words-wrapper">
          <b class="is-visible">
           {{ var_15 }}
          </b>
          <b class="is-hidden">
           {{ var_16 }}
          </b>
          <b class="is-hidden">
           {{ var_17 }}
          </b>
         </span>
        </span>
        <div class="button-area">
         <a class="rn-btn" href="#contacts">
          <span>
           {{ var_18 }}
          </span>
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
   </section>
   <div class="rn-service-area rn-section-gap section-separator" id="features">
    <div class="container">
     <div class="row">
      <div class="col-lg-12">
       <div class="section-title text-center" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-once="true">
        <span class="subtitle">
         {{ var_19 }}
        </span>
        <h2 class="title">
         {{ var_20 }}
        </h2>
       </div>
      </div>
     </div>
     <div class="row row--25 mt_md--10 mt_sm--10">
      <div class="col-lg-6 col-xl-4 col-md-6 col-sm-12 col-12 mt--50 mt_md--30 mt_sm--30" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-once="true">
       <div class="rn-service">
        <div class="inner">
         <div class="icon">
          <i data-feather="menu">
          </i>
         </div>
         <div class="content">
          <h4 class="title">
           <a href="#">
            {{ var_21 }}
           </a>
          </h4>
          <p class="description">
           {{ var_22 }}
          </p>
          <a class="read-more-button" href="#">
           <i class="feather-arrow-right">
           </i>
          </a>
         </div>
        </div>
        <a class="over-link" href="#">
        </a>
       </div>
      </div>
      <div class="col-lg-6 col-xl-4 col-md-6 col-sm-12 col-12 mt--50 mt_md--30 mt_sm--30" data-aos="fade-up" data-aos-delay="300" data-aos-duration="500" data-aos-once="true">
       <div class="rn-service">
        <div class="inner">
         <div class="icon">
          <i data-feather="book-open">
          </i>
         </div>
         <div class="content">
          <h4 class="title">
           <a href="#">
            {{ var_23 }}
           </a>
          </h4>
          <p class="description">
           {{ var_24 }}
          </p>
          <a class="read-more-button" href="#">
           <i class="feather-arrow-right">
           </i>
          </a>
         </div>
        </div>
        <a class="over-link" href="#">
        </a>
       </div>
      </div>
      <div class="col-lg-6 col-xl-4 col-md-6 col-sm-12 col-12 mt--50 mt_md--30 mt_sm--30" data-aos="fade-up" data-aos-delay="500" data-aos-duration="500" data-aos-once="true">
       <div class="rn-service">
        <div class="inner">
         <div class="icon">
          <i data-feather="tv">
          </i>
         </div>
         <div class="content">
          <h4 class="title">
           <a href="#">
            {{ var_25 }}
           </a>
          </h4>
          <p class="description">
           {{ var_26 }}
          </p>
          <a class="read-more-button" href="#">
           <i class="feather-arrow-right">
           </i>
          </a>
         </div>
        </div>
        <a class="over-link" href="#">
        </a>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="rn-portfolio-area rn-section-gap section-separator" id="portfolio">
    <div class="container">
     <div class="row">
      <div class="col-lg-12">
       <div class="section-title text-center" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-once="true">
        <span class="subtitle">
         {{ var_27 }}
        </span>
        <h2 class="title">
         {{ var_28 }}
        </h2>
       </div>
      </div>
     </div>
     <div class="row row--25 mt--10 mt_md--10 mt_sm--10">
      <div class="col-lg-6 col-xl-4 col-md-6 col-12 mt--50 mt_md--30 mt_sm--30" data-aos="fade-up" data-aos-delay="100" data-aos-once="true">
       <div class="rn-portfolio" data-target="#exampleModalCenter" data-toggle="modal">
        <div class="inner">
         <div class="thumbnail">
          <a href="javascript:void(0)">
           <img alt="Personal Portfolio Images" src="assets/images/portfolio/portfolio-01.jpg"/>
          </a>
         </div>
         <div class="content">
          <div class="category-info">
           <div class="category-list">
            <a href="javascript:void(0)">
             {{ var_29 }}
            </a>
           </div>
           <div class="meta">
            <span>
             <a href="javascript:void(0)">
              <i class="feather-heart">
              </i>
             </a>
             {{ var_30 }}
            </span>
           </div>
          </div>
          <h4 class="title">
           <a href="javascript:void(0)">
            {{ var_31 }}
            <i class="feather-arrow-up-right">
            </i>
           </a>
          </h4>
         </div>
        </div>
       </div>
      </div>
      <div class="col-lg-6 col-xl-4 col-md-6 col-12 mt--50 mt_md--30 mt_sm--30" data-aos="fade-up" data-aos-delay="300" data-aos-once="true">
       <div class="rn-portfolio" data-target="#exampleModalCenter" data-toggle="modal">
        <div class="inner">
         <div class="thumbnail">
          <a href="javascript:void(0)">
           <img alt="Personal Portfolio Images" src="assets/images/portfolio/portfolio-02.jpg"/>
          </a>
         </div>
         <div class="content">
          <div class="category-info">
           <div class="category-list">
            <a href="javascript:void(0)">
             {{ var_32 }}
            </a>
           </div>
           <div class="meta">
            <span>
             <a href="javascript:void(0)">
              <i class="feather-heart">
              </i>
             </a>
             {{ var_33 }}
            </span>
           </div>
          </div>
          <h4 class="title">
           <a href="javascript:void(0)">
            {{ var_34 }}
            <i class="feather-arrow-up-right">
            </i>
           </a>
          </h4>
         </div>
        </div>
       </div>
      </div>
      <div class="col-lg-6 col-xl-4 col-md-6 col-12 mt--50 mt_md--30 mt_sm--30" data-aos="fade-up" data-aos-delay="500" data-aos-once="true">
       <div class="rn-portfolio" data-target="#exampleModalCenter" data-toggle="modal">
        <div class="inner">
         <div class="thumbnail">
          <a href="javascript:void(0)">
           <img alt="Personal Portfolio Images" src="assets/images/portfolio/portfolio-03.jpg"/>
          </a>
         </div>
         <div class="content">
          <div class="meta">
           <div class="category-info">
            <div class="category-list">
             <a href="javascript:void(0)">
              {{ var_35 }}
             </a>
            </div>
            <span>
             <a href="javascript:void(0)">
              <i class="feather-heart">
              </i>
             </a>
             {{ var_36 }}
            </span>
           </div>
          </div>
          <h4 class="title">
           <a href="javascript:void(0)">
            {{ var_37 }}
            <i class="feather-arrow-up-right">
            </i>
           </a>
          </h4>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="rn-resume-area rn-section-gap section-separator" id="resume">
    <div class="container">
     <div class="row">
      <div class="col-lg-12">
       <div class="section-title text-center">
        <span class="subtitle">
         {{ var_38 }}
        </span>
        <h2 class="title">
         {{ var_39 }}
        </h2>
       </div>
      </div>
     </div>
     <div class="row mt--45">
      <div class="col-lg-12">
       <ul class="rn-nav-list nav nav-tabs" id="myTabs" role="tablist">
        <li class="nav-item">
         <a aria-controls="education" aria-selected="true" class="nav-link active" data-toggle="tab" href="#education" id="education-tab" role="tab">
          {{ var_40 }}
         </a>
        </li>
        <li class="nav-item">
         <a aria-controls="professional" aria-selected="false" class="nav-link" data-toggle="tab" href="#professional" id="professional-tab" role="tab">
          {{ var_41 }}
         </a>
        </li>
        <li class="nav-item">
         <a aria-controls="experience" aria-selected="false" class="nav-link" data-toggle="tab" href="#experience" id="experience-tab" role="tab">
          {{ var_42 }}
         </a>
        </li>
        <li class="nav-item">
         <a aria-controls="interview" aria-selected="false" class="nav-link" data-toggle="tab" href="#interview" id="interview-tab" role="tab">
          {{ var_43 }}
         </a>
        </li>
       </ul>
       <div class="rn-nav-content tab-content" id="myTabContents">
        <div aria-labelledby="education-tab" class="tab-pane show active fade single-tab-area" id="education" role="tabpanel">
         <div class="personal-experience-inner mt--40">
          <div class="row">
           <div class="col-lg-6 col-md-12 col-12">
            <div class="content">
             <span class="subtitle">
              {{ var_44 }}
             </span>
             <h4 class="maintitle">
              {{ var_45 }}
             </h4>
             <div class="experience-list">
              <div class="resume-single-list">
               <div class="inner">
                <div class="heading">
                 <div class="title">
                  <h4>
                   {{ var_46 }}
                  </h4>
                  <span>
                   {{ var_47 }}
                  </span>
                 </div>
                 <div class="date-of-time">
                  <span>
                   {{ var_48 }}
                  </span>
                 </div>
                </div>
                <p class="description">
                 {{ var_49 }}
                </p>
               </div>
              </div>
              <div class="resume-single-list">
               <div class="inner">
                <div class="heading">
                 <div class="title">
                  <h4>
                   {{ var_50 }}
                  </h4>
                  <span>
                   {{ var_51 }}
                  </span>
                 </div>
                 <div class="date-of-time">
                  <span>
                   {{ var_52 }}
                  </span>
                 </div>
                </div>
                <p class="description">
                 {{ var_53 }}
                </p>
               </div>
              </div>
              <div class="resume-single-list">
               <div class="inner">
                <div class="heading">
                 <div class="title">
                  <h4>
                   {{ var_54 }}
                  </h4>
                  <span>
                   {{ var_55 }}
                  </span>
                 </div>
                 <div class="date-of-time">
                  <span>
                   {{ var_56 }}
                  </span>
                 </div>
                </div>
                <p class="description">
                 {{ var_57 }}
                </p>
               </div>
              </div>
             </div>
            </div>
           </div>
           <div class="col-lg-6 col-md-12 col-12 mt_md--60 mt_sm--60">
            <div class="content">
             <span class="subtitle">
              {{ var_58 }}
             </span>
             <h4 class="maintitle">
              {{ var_59 }}
             </h4>
             <div class="experience-list">
              <div class="resume-single-list">
               <div class="inner">
                <div class="heading">
                 <div class="title">
                  <h4>
                   {{ var_60 }}
                  </h4>
                  <span>
                   {{ var_61 }}
                  </span>
                 </div>
                 <div class="date-of-time">
                  <span>
                   {{ var_62 }}
                  </span>
                 </div>
                </div>
                <p class="description">
                 {{ var_63 }}
                </p>
               </div>
              </div>
              <div class="resume-single-list">
               <div class="inner">
                <div class="heading">
                 <div class="title">
                  <h4>
                   {{ var_64 }}
                  </h4>
                  <span>
                   {{ var_65 }}
                  </span>
                 </div>
                 <div class="date-of-time">
                  <span>
                   {{ var_66 }}
                  </span>
                 </div>
                </div>
                <p class="description">
                 {{ var_67 }}
                </p>
               </div>
              </div>
              <div class="resume-single-list">
               <div class="inner">
                <div class="heading">
                 <div class="title">
                  <h4>
                   {{ var_68 }}
                  </h4>
                  <span>
                   {{ var_69 }}
                  </span>
                 </div>
                 <div class="date-of-time">
                  <span>
                   {{ var_70 }}
                  </span>
                 </div>
                </div>
                <p class="description">
                 {{ var_71 }}
                </p>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
        <div aria-labelledby="professional-tab" class="tab-pane fade" id="professional" role="tabpanel">
         <div class="personal-experience-inner mt--40">
          <div class="row row--40">
           <div class="col-lg-6 col-md-6 col-12">
            <div class="progress-wrapper">
             <div class="content">
              <span class="subtitle">
               {{ var_72 }}
              </span>
              <h4 class="maintitle">
               {{ var_73 }}
              </h4>
              <div class="progress-charts">
               <h6 class="heading heading-h6">
                {{ var_74 }}
               </h6>
               <div class="progress">
                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="85" class="progress-bar wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="0.5s" role="progressbar" style="width: 100%">
                 <span class="percent-label">
                  {{ var_75 }}
                 </span>
                </div>
               </div>
              </div>
              <div class="progress-charts">
               <h6 class="heading heading-h6">
                {{ var_76 }}
               </h6>
               <div class="progress">
                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="85" class="progress-bar wow fadeInLeft" data-wow-delay=".4s" data-wow-duration="0.6s" role="progressbar" style="width: 95%">
                 <span class="percent-label">
                  {{ var_77 }}
                 </span>
                </div>
               </div>
              </div>
              <div class="progress-charts">
               <h6 class="heading heading-h6">
                {{ var_78 }}
               </h6>
               <div class="progress">
                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="85" class="progress-bar wow fadeInLeft" data-wow-delay=".5s" data-wow-duration="0.7s" role="progressbar" style="width: 60%">
                 <span class="percent-label">
                  {{ var_79 }}
                 </span>
                </div>
               </div>
              </div>
              <div class="progress-charts">
               <h6 class="heading heading-h6">
                {{ var_80 }}
               </h6>
               <div class="progress">
                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="85" class="progress-bar wow fadeInLeft" data-wow-delay=".6s" data-wow-duration="0.8s" role="progressbar" style="width: 70%">
                 <span class="percent-label">
                  {{ var_81 }}
                 </span>
                </div>
               </div>
              </div>
              <div class="progress-charts">
               <h6 class="heading heading-h6">
                {{ var_82 }}
               </h6>
               <div class="progress">
                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="85" class="progress-bar wow fadeInLeft" data-wow-delay=".7s" data-wow-duration="0.9s" role="progressbar" style="width: 90%">
                 <span class="percent-label">
                  {{ var_83 }}
                 </span>
                </div>
               </div>
              </div>
             </div>
            </div>
           </div>
           <div class="col-lg-6 col-md-6 col-12 mt_sm--60">
            <div class="progress-wrapper">
             <div class="content">
              <span class="subtitle">
               {{ var_84 }}
              </span>
              <h4 class="maintitle">
               {{ var_85 }}
              </h4>
              <div class="progress-charts">
               <h6 class="heading heading-h6">
                {{ var_86 }}
               </h6>
               <div class="progress">
                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="85" class="progress-bar wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="0.5s" role="progressbar" style="width: 85%">
                 <span class="percent-label">
                  {{ var_87 }}
                 </span>
                </div>
               </div>
              </div>
              <div class="progress-charts">
               <h6 class="heading heading-h6">
                {{ var_88 }}
               </h6>
               <div class="progress">
                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="85" class="progress-bar wow fadeInLeft" data-wow-delay=".4s" data-wow-duration="0.6s" role="progressbar" style="width: 80%">
                 <span class="percent-label">
                  {{ var_89 }}
                 </span>
                </div>
               </div>
              </div>
              <div class="progress-charts">
               <h6 class="heading heading-h6">
                {{ var_90 }}
               </h6>
               <div class="progress">
                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="85" class="progress-bar wow fadeInLeft" data-wow-delay=".5s" data-wow-duration="0.7s" role="progressbar" style="width: 90%">
                 <span class="percent-label">
                  {{ var_91 }}
                 </span>
                </div>
               </div>
              </div>
              <div class="progress-charts">
               <h6 class="heading heading-h6">
                {{ var_92 }}
               </h6>
               <div class="progress">
                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="85" class="progress-bar wow fadeInLeft" data-wow-delay=".6s" data-wow-duration="0.8s" role="progressbar" style="width: 75%">
                 <span class="percent-label">
                  {{ var_93 }}
                 </span>
                </div>
               </div>
              </div>
              <div class="progress-charts">
               <h6 class="heading heading-h6">
                {{ var_94 }}
               </h6>
               <div class="progress">
                <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="85" class="progress-bar wow fadeInLeft" data-wow-delay=".7s" data-wow-duration="0.9s" role="progressbar" style="width: 70%">
                 <span class="percent-label">
                  {{ var_95 }}
                 </span>
                </div>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
        <div aria-labelledby="experience-tab" class="tab-pane fade" id="experience" role="tabpanel">
         <div class="personal-experience-inner mt--40">
          <div class="row">
           <div class="col-lg-6 col-md-12 col-12">
            <div class="content">
             <span class="subtitle">
              {{ var_96 }}
             </span>
             <h4 class="maintitle">
              {{ var_97 }}
             </h4>
             <div class="experience-list">
              <div class="resume-single-list">
               <div class="inner">
                <div class="heading">
                 <div class="title">
                  <h4>
                   {{ var_98 }}
                  </h4>
                  <span>
                   {{ var_99 }}
                  </span>
                 </div>
                 <div class="date-of-time">
                  <span>
                   {{ var_100 }}
                  </span>
                 </div>
                </div>
                <p class="description">
                 {{ var_101 }}
                </p>
               </div>
              </div>
              <div class="resume-single-list">
               <div class="inner">
                <div class="heading">
                 <div class="title">
                  <h4>
                   {{ var_102 }}
                  </h4>
                  <span>
                   {{ var_103 }}
                  </span>
                 </div>
                 <div class="date-of-time">
                  <span>
                   {{ var_104 }}
                  </span>
                 </div>
                </div>
                <p class="description">
                 {{ var_105 }}
                </p>
               </div>
              </div>
              <div class="resume-single-list">
               <div class="inner">
                <div class="heading">
                 <div class="title">
                  <h4>
                   {{ var_106 }}
                  </h4>
                  <span>
                   {{ var_107 }}
                  </span>
                 </div>
                 <div class="date-of-time">
                  <span>
                   {{ var_108 }}
                  </span>
                 </div>
                </div>
                <p class="description">
                 {{ var_109 }}
                </p>
               </div>
              </div>
             </div>
            </div>
           </div>
           <div class="col-lg-6 col-md-12 col-12 mt_md--60 mt_sm--60">
            <div class="content">
             <span class="subtitle">
              {{ var_110 }}
             </span>
             <h4 class="maintitle">
              {{ var_111 }}
             </h4>
             <div class="experience-list">
              <div class="resume-single-list">
               <div class="inner">
                <div class="heading">
                 <div class="title">
                  <h4>
                   {{ var_112 }}
                  </h4>
                  <span>
                   {{ var_113 }}
                  </span>
                 </div>
                 <div class="date-of-time">
                  <span>
                   {{ var_114 }}
                  </span>
                 </div>
                </div>
                <p class="description">
                 {{ var_115 }}
                </p>
               </div>
              </div>
              <div class="resume-single-list">
               <div class="inner">
                <div class="heading">
                 <div class="title">
                  <h4>
                   {{ var_116 }}
                  </h4>
                  <span>
                   {{ var_117 }}
                  </span>
                 </div>
                 <div class="date-of-time">
                  <span>
                   {{ var_118 }}
                  </span>
                 </div>
                </div>
                <p class="description">
                 {{ var_119 }}
                </p>
               </div>
              </div>
              <div class="resume-single-list">
               <div class="inner">
                <div class="heading">
                 <div class="title">
                  <h4>
                   {{ var_120 }}
                  </h4>
                  <span>
                   {{ var_121 }}
                  </span>
                 </div>
                 <div class="date-of-time">
                  <span>
                   {{ var_122 }}
                  </span>
                 </div>
                </div>
                <p class="description">
                 {{ var_123 }}
                </p>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
        <div aria-labelledby="interview-tab" class="tab-pane fade" id="interview" role="tabpanel">
         <div class="personal-experience-inner mt--40">
          <div class="row">
           <div class="col-lg-6 col-md-12 col-12">
            <div class="content">
             <span class="subtitle">
              {{ var_124 }}
             </span>
             <h4 class="maintitle">
              {{ var_125 }}
             </h4>
             <div class="experience-list">
              <div class="resume-single-list" data-aos="fade-up" data-aos-delay="300" data-aos-duration="500" data-aos-once="true">
               <div class="inner">
                <div class="heading">
                 <div class="title">
                  <h4>
                   {{ var_126 }}
                  </h4>
                  <span>
                   {{ var_127 }}
                  </span>
                 </div>
                 <div class="date-of-time">
                  <span>
                   {{ var_128 }}
                  </span>
                 </div>
                </div>
                <p class="description">
                 {{ var_129 }}
                </p>
               </div>
              </div>
              <div class="resume-single-list" data-aos="fade-up" data-aos-delay="500" data-aos-duration="500" data-aos-once="true">
               <div class="inner">
                <div class="heading">
                 <div class="title">
                  <h4>
                   {{ var_130 }}
                  </h4>
                  <span>
                   {{ var_131 }}
                  </span>
                 </div>
                 <div class="date-of-time">
                  <span>
                   {{ var_132 }}
                  </span>
                 </div>
                </div>
                <p class="description">
                 {{ var_133 }}
                </p>
               </div>
              </div>
              <div class="resume-single-list" data-aos="fade-up" data-aos-delay="700" data-aos-duration="500" data-aos-once="true">
               <div class="inner">
                <div class="heading">
                 <div class="title">
                  <h4>
                   {{ var_134 }}
                  </h4>
                  <span>
                   {{ var_135 }}
                  </span>
                 </div>
                 <div class="date-of-time">
                  <span>
                   {{ var_136 }}
                  </span>
                 </div>
                </div>
                <p class="description">
                 {{ var_137 }}
                </p>
               </div>
              </div>
             </div>
            </div>
           </div>
           <div class="col-lg-6 col-md-12 col-12 mt_md--60 mt_sm--60">
            <div class="content">
             <span class="subtitle">
              {{ var_138 }}
             </span>
             <h4 class="maintitle">
              {{ var_139 }}
             </h4>
             <div class="experience-list">
              <div class="resume-single-list" data-aos="fade-up" data-aos-delay="500" data-aos-duration="500" data-aos-once="true">
               <div class="inner">
                <div class="heading">
                 <div class="title">
                  <h4>
                   {{ var_140 }}
                  </h4>
                  <span>
                   {{ var_141 }}
                  </span>
                 </div>
                 <div class="date-of-time">
                  <span>
                   {{ var_142 }}
                  </span>
                 </div>
                </div>
                <p class="description">
                 {{ var_143 }}
                </p>
               </div>
              </div>
              <div class="resume-single-list" data-aos="fade-up" data-aos-delay="700" data-aos-duration="500" data-aos-once="true">
               <div class="inner">
                <div class="heading">
                 <div class="title">
                  <h4>
                   {{ var_144 }}
                  </h4>
                  <span>
                   {{ var_145 }}
                  </span>
                 </div>
                 <div class="date-of-time">
                  <span>
                   {{ var_146 }}
                  </span>
                 </div>
                </div>
                <p class="description">
                 {{ var_147 }}
                </p>
               </div>
              </div>
              <div class="resume-single-list" data-aos="fade-up" data-aos-delay="900" data-aos-duration="500" data-aos-once="true">
               <div class="inner">
                <div class="heading">
                 <div class="title">
                  <h4>
                   {{ var_148 }}
                  </h4>
                  <span>
                   {{ var_149 }}
                  </span>
                 </div>
                 <div class="date-of-time">
                  <span>
                   {{ var_150 }}
                  </span>
                 </div>
                </div>
                <p class="description">
                 {{ var_151 }}
                </p>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="rn-right-demo">
    <button class="demo-button">
     <span class="text">
      {{ var_152 }}
     </span>
    </button>
   </div>
   <div class="demo-modal-area">
    <div class="wrapper">
     <div class="close-icon">
      <button class="demo-close-btn">
       <span class="feather-x">
       </span>
      </button>
     </div>
     <div class="rn-modal-inner">
      <div class="demo-top text-center">
       <h4 class="title">
        {{ var_153 }}
       </h4>
       <p class="subtitle">
        {{ var_154 }}
       </p>
      </div>
      <ul class="popuptab-area nav nav-tabs" id="popuptab" role="tablist">
       <li class="nav-item">
        <a aria-controls="demodark" aria-selected="true" class="nav-link active demo-dark" data-toggle="tab" href="#demodark" id="demodark-tab" role="tab">
         {{ var_155 }}
        </a>
       </li>
       <li class="nav-item">
        <a aria-controls="demolight" aria-selected="false" class="nav-link demo-light" data-toggle="tab" href="#demolight" id="demolight-tab" role="tab">
         {{ var_156 }}
        </a>
       </li>
      </ul>
      <div class="tab-content" id="popuptabContent">
       <div aria-labelledby="demodark-tab" class="tab-pane show active" id="demodark" role="tabpanel">
        <div class="content">
         <div class="row">
          <div class="col-lg-4 col-md-6 col-12">
           <div class="single-demo">
            <div class="inner">
             <div class="thumbnail">
              <a href="index.html">
               <img alt="Personal Portfolio" class="w-100" src="assets/images/demo/main-demo.png"/>
               <span class="overlay-content">
                <span class="overlay-text">
                 {{ var_157 }}
                 <i class="feather-external-link">
                 </i>
                </span>
               </span>
              </a>
             </div>
             <div class="inner">
              <h3 class="title">
               <a href="index.html">
                {{ var_158 }}
               </a>
              </h3>
             </div>
            </div>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
           <div class="single-demo">
            <div class="inner badge-2">
             <div class="thumbnail">
              <a href="index-technician.html">
               <img alt="Personal Portfolio" class="w-100" src="assets/images/demo/index-technician.png"/>
               <span class="overlay-content">
                <span class="overlay-text">
                 {{ var_159 }}
                 <i class="feather-external-link">
                 </i>
                </span>
               </span>
              </a>
             </div>
             <div class="inner">
              <h3 class="title">
               <a href="index-technician.html">
                {{ var_160 }}
               </a>
              </h3>
             </div>
            </div>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
           <div class="single-demo">
            <div class="inner badge-2">
             <div class="thumbnail">
              <a href="index-model.html">
               <img alt="Personal Portfolio" class="w-100" src="assets/images/demo/home-model-v2.png"/>
               <span class="overlay-content">
                <span class="overlay-text">
                 {{ var_161 }}
                 <i class="feather-external-link">
                 </i>
                </span>
               </span>
              </a>
             </div>
             <div class="inner">
              <h3 class="title">
               <a href="index-model.html">
                {{ var_162 }}
               </a>
              </h3>
             </div>
            </div>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
           <div class="single-demo">
            <div class="inner badge-1">
             <div class="thumbnail">
              <a href="home-consulting.html">
               <img alt="Personal Portfolio" class="w-100" src="assets/images/demo/home-consulting.png"/>
               <span class="overlay-content">
                <span class="overlay-text">
                 {{ var_163 }}
                 <i class="feather-external-link">
                 </i>
                </span>
               </span>
              </a>
             </div>
             <div class="inner">
              <h3 class="title">
               <a href="home-consulting.html">
                {{ var_164 }}
               </a>
              </h3>
             </div>
            </div>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
           <div class="single-demo">
            <div class="inner badge-1">
             <div class="thumbnail">
              <a href="fashion-designer.html">
               <img alt="Personal Portfolio" class="w-100" src="assets/images/demo/fashion-designer.png"/>
               <span class="overlay-content">
                <span class="overlay-text">
                 {{ var_165 }}
                 <i class="feather-external-link">
                 </i>
                </span>
               </span>
              </a>
             </div>
             <div class="inner">
              <h3 class="title">
               <a href="fashion-designer.html">
                {{ var_166 }}
               </a>
              </h3>
             </div>
            </div>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
           <div class="single-demo">
            <div class="inner">
             <div class="thumbnail">
              <a href="index-developer.html">
               <img alt="Personal Portfolio" class="w-100" src="assets/images/demo/developer.png"/>
               <span class="overlay-content">
                <span class="overlay-text">
                 {{ var_167 }}
                 <i class="feather-external-link">
                 </i>
                </span>
               </span>
              </a>
             </div>
             <div class="inner">
              <h3 class="title">
               <a href="index-developer.html">
                {{ var_168 }}
               </a>
              </h3>
             </div>
            </div>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
           <div class="single-demo">
            <div class="inner">
             <div class="thumbnail">
              <a href="instructor-fitness.html">
               <img alt="Personal Portfolio" class="w-100" src="assets/images/demo/instructor-fitness.png"/>
               <span class="overlay-content">
                <span class="overlay-text">
                 {{ var_169 }}
                 <i class="feather-external-link">
                 </i>
                </span>
               </span>
              </a>
             </div>
             <div class="inner">
              <h3 class="title">
               <a href="instructor-fitness.html">
                {{ var_170 }}
               </a>
              </h3>
             </div>
            </div>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
           <div class="single-demo">
            <div class="inner badge-1">
             <div class="thumbnail">
              <a href="home-web-Developer.html">
               <img alt="Personal Portfolio" class="w-100" src="assets/images/demo/home-model.png"/>
               <span class="overlay-content">
                <span class="overlay-text">
                 {{ var_171 }}
                 <i class="feather-external-link">
                 </i>
                </span>
               </span>
              </a>
             </div>
             <div class="inner">
              <h3 class="title">
               <a href="home-web-Developer.html">
                {{ var_172 }}
               </a>
              </h3>
             </div>
            </div>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
           <div class="single-demo">
            <div class="inner">
             <div class="thumbnail">
              <a href="home-designer.html">
               <img alt="Personal Portfolio" class="w-100" src="assets/images/demo/home-video.png"/>
               <span class="overlay-content">
                <span class="overlay-text">
                 {{ var_173 }}
                 <i class="feather-external-link">
                 </i>
                </span>
               </span>
              </a>
             </div>
             <div class="inner">
              <h3 class="title">
               <a href="home-designer.html">
                {{ var_174 }}
               </a>
              </h3>
             </div>
            </div>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
           <div class="single-demo">
            <div class="inner">
             <div class="thumbnail">
              <a href="home-content-writer.html">
               <img alt="Personal Portfolio" class="w-100" src="assets/images/demo/text-rotet.png"/>
               <span class="overlay-content">
                <span class="overlay-text">
                 {{ var_175 }}
                 <i class="feather-external-link">
                 </i>
                </span>
               </span>
              </a>
             </div>
             <div class="inner">
              <h3 class="title">
               <a href="home-content-writer.html">
                {{ var_176 }}
               </a>
              </h3>
             </div>
            </div>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
           <div class="single-demo">
            <div class="inner">
             <div class="thumbnail">
              <a href="home-instructor.html">
               <img alt="Personal Portfolio" class="w-100" src="assets/images/demo/index-boxed.png"/>
               <span class="overlay-content">
                <span class="overlay-text">
                 {{ var_177 }}
                 <i class="feather-external-link">
                 </i>
                </span>
               </span>
              </a>
             </div>
             <div class="inner">
              <h3 class="title">
               <a href="home-instructor.html">
                {{ var_178 }}
               </a>
              </h3>
             </div>
            </div>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
           <div class="single-demo">
            <div class="inner">
             <div class="thumbnail">
              <a href="home-freelancer.html">
               <img alt="Personal Portfolio" class="w-100" src="assets/images/demo/home-sticky.png"/>
               <span class="overlay-content">
                <span class="overlay-text">
                 {{ var_179 }}
                 <i class="feather-external-link">
                 </i>
                </span>
               </span>
              </a>
             </div>
             <div class="inner">
              <h3 class="title">
               <a href="home-freelancer.html">
                {{ var_180 }}
               </a>
              </h3>
             </div>
            </div>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
           <div class="single-demo">
            <div class="inner">
             <div class="thumbnail">
              <a href="home-photographer.html">
               <img alt="Personal Portfolio" class="w-100" src="assets/images/demo/index-bg-image.png"/>
               <span class="overlay-content">
                <span class="overlay-text">
                 {{ var_181 }}
                 <i class="feather-external-link">
                 </i>
                </span>
               </span>
              </a>
             </div>
             <div class="inner">
              <h3 class="title">
               <a href="home-photographer.html">
                {{ var_182 }}
               </a>
              </h3>
             </div>
            </div>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
           <div class="single-demo">
            <div class="inner">
             <div class="thumbnail">
              <a href="index-politician.html">
               <img alt="Personal Portfolio" class="w-100" src="assets/images/demo/front-end.png"/>
               <span class="overlay-content">
                <span class="overlay-text">
                 {{ var_183 }}
                 <i class="feather-external-link">
                 </i>
                </span>
               </span>
              </a>
             </div>
             <div class="inner">
              <h3 class="title">
               <a href="index-politician.html">
                {{ var_184 }}
               </a>
              </h3>
             </div>
            </div>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
           <div class="single-demo coming-soon">
            <div class="inner">
             <div class="thumbnail">
              <a href="#">
               <img alt="Personal Portfolio" class="w-100" src="assets/images/demo/coming-soon.png"/>
              </a>
             </div>
             <div class="inner">
              <h3 class="title">
               <a href="#">
                {{ var_185 }}
               </a>
              </h3>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
       <div aria-labelledby="demolight-tab" class="tab-pane" id="demolight" role="tabpanel">
        <div class="content">
         <div class="row">
          <div class="col-lg-4 col-md-6 col-12">
           <div class="single-demo">
            <div class="inner">
             <div class="thumbnail">
              <a href="index-white-version.html">
               <img alt="Personal Portfolio" class="w-100" src="assets/images/demo/main-demo-white-version.png"/>
               <span class="overlay-content">
                <span class="overlay-text">
                 {{ var_186 }}
                 <i class="feather-external-link">
                 </i>
                </span>
               </span>
              </a>
             </div>
             <div class="inner">
              <h3 class="title">
               <a href="index-white-version.html">
                {{ var_187 }}
               </a>
              </h3>
             </div>
            </div>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
           <div class="single-demo">
            <div class="inner badge-2">
             <div class="thumbnail">
              <a href="index-technician-white-version.html">
               <img alt="Personal Portfolio" class="w-100" src="assets/images/demo/index-technician-white-version.png"/>
               <span class="overlay-content">
                <span class="overlay-text">
                 {{ var_188 }}
                 <i class="feather-external-link">
                 </i>
                </span>
               </span>
              </a>
             </div>
             <div class="inner">
              <h3 class="title">
               <a href="index-technician-white-version.html">
                {{ var_189 }}
               </a>
              </h3>
             </div>
            </div>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
           <div class="single-demo">
            <div class="inner badge-2">
             <div class="thumbnail">
              <a href="index-model-white-version.html">
               <img alt="Personal Portfolio" class="w-100" src="assets/images/demo/home-model-v2-white.png"/>
               <span class="overlay-content">
                <span class="overlay-text">
                 {{ var_190 }}
                 <i class="feather-external-link">
                 </i>
                </span>
               </span>
              </a>
             </div>
             <div class="inner">
              <h3 class="title">
               <a href="index-model-white-version.html">
                {{ var_191 }}
               </a>
              </h3>
             </div>
            </div>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
           <div class="single-demo">
            <div class="inner badge-1">
             <div class="thumbnail">
              <a href="home-consulting-white-version.html">
               <img alt="Personal Portfolio" class="w-100" src="assets/images/demo/home-consulting-white-version.png"/>
               <span class="overlay-content">
                <span class="overlay-text">
                 {{ var_192 }}
                 <i class="feather-external-link">
                 </i>
                </span>
               </span>
              </a>
             </div>
             <div class="inner">
              <h3 class="title">
               <a href="home-consulting-white-version.html">
                {{ var_193 }}
               </a>
              </h3>
             </div>
            </div>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
           <div class="single-demo">
            <div class="inner badge-1">
             <div class="thumbnail">
              <a href="fashion-designer-white-version.html">
               <img alt="Personal Portfolio" class="w-100" src="assets/images/demo/fashion-designer-white-version.png"/>
               <span class="overlay-content">
                <span class="overlay-text">
                 {{ var_194 }}
                 <i class="feather-external-link">
                 </i>
                </span>
               </span>
              </a>
             </div>
             <div class="inner">
              <h3 class="title">
               <a href="fashion-designer-white-version.html">
                {{ var_195 }}
               </a>
              </h3>
             </div>
            </div>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
           <div class="single-demo">
            <div class="inner">
             <div class="thumbnail">
              <a href="index-developer-white-version.html">
               <img alt="Personal Portfolio" class="w-100" src="assets/images/demo/developer-white-version.png"/>
               <span class="overlay-content">
                <span class="overlay-text">
                 {{ var_196 }}
                 <i class="feather-external-link">
                 </i>
                </span>
               </span>
              </a>
             </div>
             <div class="inner">
              <h3 class="title">
               <a href="index-developer-white-version.html">
                {{ var_197 }}
               </a>
              </h3>
             </div>
            </div>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
           <div class="single-demo">
            <div class="inner">
             <div class="thumbnail">
              <a href="instructor-fitness-white-version.html">
               <img alt="Personal Portfolio" class="w-100" src="assets/images/demo/instructor-fitness-white-version.png"/>
               <span class="overlay-content">
                <span class="overlay-text">
                 {{ var_198 }}
                 <i class="feather-external-link">
                 </i>
                </span>
               </span>
              </a>
             </div>
             <div class="inner">
              <h3 class="title">
               <a href="instructor-fitness-white-version.html">
                {{ var_199 }}
               </a>
              </h3>
             </div>
            </div>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
           <div class="single-demo">
            <div class="inner badge-1">
             <div class="thumbnail">
              <a href="home-web-developer-white-version.html">
               <img alt="Personal Portfolio" class="w-100" src="assets/images/demo/home-model-white-version.png"/>
               <span class="overlay-content">
                <span class="overlay-text">
                 {{ var_200 }}
                 <i class="feather-external-link">
                 </i>
                </span>
               </span>
              </a>
             </div>
             <div class="inner">
              <h3 class="title">
               <a href="home-web-developer-white-version.html">
                {{ var_201 }}
               </a>
              </h3>
             </div>
            </div>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
           <div class="single-demo">
            <div class="inner">
             <div class="thumbnail">
              <a href="home-designer-white-version.html">
               <img alt="Personal Portfolio" class="w-100" src="assets/images/demo/home-video-white-version.png"/>
               <span class="overlay-content">
                <span class="overlay-text">
                 {{ var_202 }}
                 <i class="feather-external-link">
                 </i>
                </span>
               </span>
              </a>
             </div>
             <div class="inner">
              <h3 class="title">
               <a href="home-designer-white-version.html">
                {{ var_203 }}
               </a>
              </h3>
             </div>
            </div>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
           <div class="single-demo">
            <div class="inner">
             <div class="thumbnail">
              <a href="home-content-writer-white-version.html">
               <img alt="Personal Portfolio" class="w-100" src="assets/images/demo/text-rotet-white-version.png"/>
               <span class="overlay-content">
                <span class="overlay-text">
                 {{ var_204 }}
                 <i class="feather-external-link">
                 </i>
                </span>
               </span>
              </a>
             </div>
             <div class="inner">
              <h3 class="title">
               <a href="home-content-writer-white-version.html">
                {{ var_205 }}
               </a>
              </h3>
             </div>
            </div>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
           <div class="single-demo">
            <div class="inner">
             <div class="thumbnail">
              <a href="home-instructor-white-version.html">
               <img alt="Personal Portfolio" class="w-100" src="assets/images/demo/index-boxed-white-version.png"/>
               <span class="overlay-content">
                <span class="overlay-text">
                 {{ var_206 }}
                 <i class="feather-external-link">
                 </i>
                </span>
               </span>
              </a>
             </div>
             <div class="inner">
              <h3 class="title">
               <a href="home-instructor-white-version.html">
                {{ var_207 }}
               </a>
              </h3>
             </div>
            </div>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
           <div class="single-demo">
            <div class="inner">
             <div class="thumbnail">
              <a href="home-freelancer-white-version.html">
               <img alt="Personal Portfolio" class="w-100" src="assets/images/demo/home-sticky-white-version.png"/>
               <span class="overlay-content">
                <span class="overlay-text">
                 {{ var_208 }}
                 <i class="feather-external-link">
                 </i>
                </span>
               </span>
              </a>
             </div>
             <div class="inner">
              <h3 class="title">
               <a href="home-freelancer-white-version.html">
                {{ var_209 }}
               </a>
              </h3>
             </div>
            </div>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
           <div class="single-demo">
            <div class="inner">
             <div class="thumbnail">
              <a href="home-photographer-white-version.html">
               <img alt="Personal Portfolio" class="w-100" src="assets/images/demo/index-bg-image-white-version.png"/>
               <span class="overlay-content">
                <span class="overlay-text">
                 {{ var_210 }}
                 <i class="feather-external-link">
                 </i>
                </span>
               </span>
              </a>
             </div>
             <div class="inner">
              <h3 class="title">
               <a href="home-photographer-white-version.html">
                {{ var_211 }}
               </a>
              </h3>
             </div>
            </div>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
           <div class="single-demo">
            <div class="inner">
             <div class="thumbnail">
              <a href="index-politician-white-version.html">
               <img alt="Personal Portfolio" class="w-100" src="assets/images/demo/front-end-white-version.png"/>
               <span class="overlay-content">
                <span class="overlay-text">
                 {{ var_212 }}
                 <i class="feather-external-link">
                 </i>
                </span>
               </span>
              </a>
             </div>
             <div class="inner">
              <h3 class="title">
               <a href="index-politician-white-version.html">
                {{ var_213 }}
               </a>
              </h3>
             </div>
            </div>
           </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
           <div class="single-demo coming-soon">
            <div class="inner">
             <div class="thumbnail">
              <a href="#">
               <img alt="Personal Portfolio" class="w-100" src="assets/images/demo/coming-soon.png"/>
              </a>
             </div>
             <div class="inner">
              <h3 class="title">
               <a href="#">
                {{ var_214 }}
               </a>
              </h3>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div aria-hidden="true" class="modal fade" id="exampleModalCenter" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content">
      <div class="modal-header">
       <button aria-label="Close" class="close" data-dismiss="modal" type="button">
        <span aria-hidden="true">
         <i data-feather="x">
         </i>
        </span>
       </button>
      </div>
      <div class="modal-body">
       <div class="row align-items-center">
        <div class="col-lg-6">
         <div class="portfolio-popup-thumbnail">
          <div class="image">
           <img alt="slide" class="w-100" src="assets/images/portfolio/portfolio-04.jpg"/>
          </div>
         </div>
        </div>
        <div class="col-lg-6">
         <div class="text-content">
          <h3>
           <span>
            {{ var_215 }}
           </span>
           {{ var_216 }}
          </h3>
          <p class="mb--30">
           {{ var_217 }}
          </p>
          <p>
           {{ var_218 }}
          </p>
          <div class="button-group mt--20">
           <a class="rn-btn thumbs-icon" href="#">
            <span>
             {{ var_219 }}
            </span>
            <i data-feather="thumbs-up">
            </i>
           </a>
           <a class="rn-btn" href="#">
            <span>
             {{ var_220 }}
            </span>
            <i data-feather="chevron-right">
            </i>
           </a>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="backto-top">
    <div>
     <i data-feather="arrow-up">
     </i>
    </div>
   </div>
  </main>
  <script src="assets/js/vendor/jquery.js">
  </script>
  <script src="assets/js/vendor/modernizer.min.js">
  </script>
  <script src="assets/js/vendor/feather.min.js">
  </script>
  <script src="assets/js/vendor/slick.min.js">
  </script>
  <script src="assets/js/vendor/bootstrap.js">
  </script>
  <script src="assets/js/vendor/text-type.js">
  </script>
  <script src="assets/js/vendor/wow.js">
  </script>
  <script src="assets/js/vendor/aos.js">
  </script>
  <script src="assets/js/vendor/particles.js">
  </script>
  <script src="assets/js/main.js">
  </script>
  <script src="script.js">
  </script>
 </body>
</html>
