<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="ie=edge" http-equiv="x-ua-compatible"/>
  <title>
   {{ var_1 }}
  </title>
  <meta content="noindex, follow" name="robots">
   <meta content="" name="description"/>
   <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
   <link href="assets/images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
   <link href="assets/css/vendor/bootstrap.min.css" rel="stylesheet"/>
   <link href="assets/css/vendor/slick.css" rel="stylesheet"/>
   <link href="assets/css/vendor/slick-theme.css" rel="stylesheet"/>
   <link href="assets/css/vendor/aos.css" rel="stylesheet"/>
   <link href="assets/css/plugins/feature.css" rel="stylesheet"/>
   <link href="assets/css/style.css" rel="stylesheet"/>
   <link href="style.css" rel="stylesheet"/>
  </meta>
 </head>
 <body class="template-color-1 home-sticky spybody" data-offset="150" data-spy="scroll" data-target=".navbar-example2">
  <div class="d-none d-xl-block">
   <header class="rn-header-area d-flex align-items-start flex-column left-header-style">
    <div class="logo-area">
     <a href="{{ link_1 }}">
      <img alt="personal-logo" src="{{ img_1 }}"/>
     </a>
    </div>
    <nav class="mainmenu-nav navbar-example2" id="sideNavs">
     <ul class="primary-menu nav nav-pills">
      <li class="nav-item">
       <a class="nav-link smoth-animation-two active" href="{{ link_2 }}">
        <i data-feather="home">
        </i>
        {{ var_2 }}
       </a>
      </li>
      <li class="nav-item">
       <a class="nav-link smoth-animation-two" href="{{ link_3 }}">
        <i data-feather="briefcase">
        </i>
        {{ var_3 }}
       </a>
      </li>
      <li class="nav-item">
       <a class="nav-link smoth-animation-two" href="{{ link_4 }}">
        <i data-feather="users">
        </i>
        {{ var_4 }}
       </a>
      </li>
      <li class="nav-item">
       <a class="nav-link smoth-animation-two" href="{{ link_5 }}">
        <i data-feather="layers">
        </i>
        {{ var_5 }}
       </a>
      </li>
     </ul>
    </nav>
    <div class="footer">
     <div class="social-share-style-1 mt--40">
      <span class="title">
       {{ var_6 }}
      </span>
      <ul class="social-share d-flex liststyle">
       <li class="linkedin">
        <a href="{{ link_6 }}">
         <svg class="feather feather-linkedin" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z">
          </path>
          <rect height="12" width="4" x="2" y="9">
          </rect>
          <circle cx="4" cy="4" r="2">
          </circle>
         </svg>
        </a>
       </li>
       <li class="github">
        <a href="{{ link_7 }}">
         <svg class="bi bi-github" fill="currentColor" height="16" viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
          <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8">
          </path>
         </svg>
        </a>
       </li>
       <li class="twitter">
        <a href="{{ link_8 }}">
         <svg class="bi bi-twitter-x" fill="currentColor" height="16" viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z">
          </path>
         </svg>
        </a>
       </li>
      </ul>
     </div>
    </div>
   </header>
  </div>
  <div class="header-style-2 d-block d-xl-none">
   <div class="row align-items-center">
    <div class="col-6">
     <div class="logo">
      <a href="{{ link_9 }}">
       <img alt="Logo" src="{{ img_2 }}"/>
      </a>
     </div>
    </div>
    <div class="col-6">
     <div class="header-right text-right">
      <div class="hamberger-menu">
       <i class="feather-menu humberger-menu" id="menuBtn">
       </i>
      </div>
     </div>
    </div>
   </div>
  </div>
  <div class="popup-mobile-menu">
   <div class="inner">
    <div class="menu-top">
     <div class="menu-header">
      <a class="logo" href="{{ link_10 }}">
       <img alt="Personal Portfolio" src="{{ img_3 }}"/>
      </a>
      <div class="close-button">
       <button class="close-menu-activation close">
        <i data-feather="x">
        </i>
       </button>
      </div>
     </div>
    </div>
    <div class="content">
     <ul class="primary-menu nav nav-pills">
      <li class="nav-item">
       <a class="nav-link smoth-animation-two active" href="{{ link_11 }}">
        {{ var_8 }}
       </a>
      </li>
      <li class="nav-item">
       <a class="nav-link smoth-animation-two" href="{{ link_12 }}">
        {{ var_9 }}
       </a>
      </li>
      <li class="nav-item">
       <a class="nav-link smoth-animation-two" href="{{ link_13 }}">
        {{ var_10 }}
       </a>
      </li>
      <li class="nav-item">
       <a class="nav-link smoth-animation-two" href="{{ link_14 }}">
        {{ var_11 }}
       </a>
      </li>
     </ul>
     <div class="social-share-style-1 mt--40">
      <span class="title">
       {{ var_12 }}
      </span>
      <ul class="social-share d-flex liststyle">
       <li class="linkedin">
        <a href="{{ link_6 }}">
         <svg class="feather feather-linkedin" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z">
          </path>
          <rect height="12" width="4" x="2" y="9">
          </rect>
          <circle cx="4" cy="4" r="2">
          </circle>
         </svg>
        </a>
       </li>
       <li class="github">
        <a href="{{ link_7 }}">
         <svg class="bi bi-github" fill="currentColor" height="16" viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
          <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8">
          </path>
         </svg>
        </a>
       </li>
       <li class="twitter">
        <a href="{{ link_8 }}">
         <svg class="bi bi-twitter-x" fill="currentColor" height="16" viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
          <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z">
          </path>
         </svg>
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
  </div>
  <main class="page-wrapper-two">
   <section class="slider-style-5 rn-section-gap pb--110 align-items-center with-particles" id="home">
    <div id="particles-js">
    </div>
    <div class="container">
     <div class="row">
      <div class="col-lg-12">
       <div class="banner-inner">
        <div class="thumbnail gradient-border gradient-animation">
         <img alt="" class="gradient-border" id="border" src="{{ img_4 }}"/>
        </div>
        <h1>
         {{ var_13 }}
        </h1>
        <span class="cd-headline clip is-full-width">
         <span class="cd-words-wrapper">
          <b class="is-visible">
           {{ var_14 }}
          </b>
          <b class="is-hidden">
           {{ var_15 }}
          </b>
          <b class="is-hidden">
           {{ var_16 }}
          </b>
         </span>
        </span>
       </div>
      </div>
     </div>
    </div>
   </section>
   <div class="rn-service-area rn-section-gap section-separator" id="about">
    <div class="container">
     <div class="row">
      <div class="col-lg-12">
       <div class="section-title text-center" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-once="true">
        <span class="subtitle">
         {{ var_17 }}
        </span>
        <h2 class="title">
         {{ var_18 }}
        </h2>
       </div>
      </div>
     </div>
     <div class="row row--25 mt_md--10 mt_sm--10">
      <div class="col-lg-6 col-xl-4 col-md-6 col-sm-12 col-12 mt--50 mt_md--30 mt_sm--30" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-once="true">
       <div class="rn-service">
        <div class="inner">
         <div class="icon">
          <i data-feather="code">
          </i>
         </div>
         <div class="content">
          <h4 class="title">
           {{ var_19 }}
          </h4>
          <p class="description">
           {{ var_20 }}
          </p>
         </div>
        </div>
       </div>
      </div>
      <div class="col-lg-6 col-xl-4 col-md-6 col-sm-12 col-12 mt--50 mt_md--30 mt_sm--30" data-aos="fade-up" data-aos-delay="300" data-aos-duration="500" data-aos-once="true">
       <div class="rn-service">
        <div class="inner">
         <div class="icon">
          <i data-feather="upload-cloud">
          </i>
         </div>
         <div class="content">
          <h4 class="title">
           {{ var_21 }}
          </h4>
          <p class="description">
           {{ var_22 }}
          </p>
         </div>
        </div>
       </div>
      </div>
      <div class="col-lg-6 col-xl-4 col-md-6 col-sm-12 col-12 mt--50 mt_md--30 mt_sm--30" data-aos="fade-up" data-aos-delay="500" data-aos-duration="500" data-aos-once="true">
       <div class="rn-service">
        <div class="inner">
         <div class="icon">
          <i data-feather="git-merge">
          </i>
         </div>
         <div class="content">
          <h4 class="title">
           {{ var_23 }}
          </h4>
          <p class="description">
           {{ var_24 }}
          </p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="rn-resume-area rn-section-gap section-separator" id="resume">
    <div class="container">
     <div class="row">
      <div class="col-lg-12">
       <div class="section-title text-center">
        <span class="subtitle">
         {{ var_25 }}
        </span>
        <h2 class="title">
         {{ var_26 }}
        </h2>
       </div>
      </div>
     </div>
     <div class="row mt--45">
      <div class="col-lg-12">
       <div class="rn-nav-content tab-content" id="myTabContents">
        <div aria-labelledby="education-tab" class="tab-pane show active fade single-tab-area" id="education" role="tabpanel">
         <div class="personal-experience-inner mt--40">
          <div class="row">
           <div class="col-lg-6 col-md-12 col-12">
            <div class="content">
             <h4 class="maintitle">
              {{ var_28 }}
             </h4>
             <div class="experience-list">
              <div class="resume-single-list">
               <div class="inner">
                <div class="heading">
                 <div class="title">
                  <h4>
                   {{ var_29 }}
                  </h4>
                  <span>
                   {{ var_30 }}
                  </span>
                 </div>
                </div>
                <p class="description">
                 {{ var_31 }}
                </p>
               </div>
              </div>
             </div>
            </div>
           </div>
           <div class="col-lg-6 col-md-12 col-12 mt_md--60 mt_sm--60">
            <div class="content">
             <h4 class="maintitle">
              {{ var_33 }}
             </h4>
             <div class="experience-list">
              <div class="resume-single-list">
               <div class="inner">
                <div class="heading">
                 <div class="title">
                  <h4>
                   {{ var_34 }}
                  </h4>
                  <span>
                   {{ var_35 }}
                  </span>
                 </div>
                </div>
                <p class="description">
                 {{ var_36 }}
                </p>
               </div>
              </div>
              <div class="resume-single-list">
               <div class="inner">
                <div class="heading">
                 <div class="title">
                  <h4>
                   {{ var_37 }}
                  </h4>
                  <span>
                   {{ var_38 }}
                  </span>
                 </div>
                </div>
                <p class="description">
                 {{ var_39 }}
                </p>
               </div>
              </div>
              <div class="resume-single-list">
               <div class="inner">
                <div class="heading">
                 <div class="title">
                  <h4>
                   {{ var_40 }}
                  </h4>
                  <span>
                   {{ var_41 }}
                  </span>
                 </div>
                </div>
                <p class="description">
                 {{ var_42 }}
                </p>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="rn-portfolio-area rn-section-gap section-separator" id="portfolio">
    <div class="container">
     <div class="row">
      <div class="col-lg-12">
       <div class="section-title text-center" data-aos="fade-up" data-aos-delay="100" data-aos-duration="500" data-aos-once="true">
        <span class="subtitle">
         {{ var_43 }}
        </span>
        <h2 class="title">
         {{ var_44 }}
        </h2>
       </div>
      </div>
     </div>
     <div class="row row--25 mt--10 mt_md--10 mt_sm--10">
      <div class="col-lg-6 col-xl-4 col-md-6 col-12 mt--50 mt_md--30 mt_sm--30" data-aos="fade-up" data-aos-delay="100" data-aos-once="true">
       <div class="rn-portfolio" data-target="#exampleModalCenter" data-toggle="modal">
        <div class="inner">
         <div class="thumbnail">
          <a href="{{ link_18 }}">
           <img alt="Personal Portfolio Images" src="{{ img_5 }}"/>
          </a>
         </div>
         <div class="content">
          <div class="category-info">
           <div class="category-list">
            <a href="{{ link_19 }}">
             {{ var_45 }}
            </a>
           </div>
          </div>
          <h4 class="title">
           <a href="{{ link_20 }}">
            {{ var_46 }}
            <i class="feather-arrow-up-right">
            </i>
           </a>
          </h4>
                <p class="description project-description" >
                 {{ var_51 }}
                </p>
                            <a class="over-link" href="#"></a>
         </div>
        </div>
       </div>
      </div>
      <div class="col-lg-6 col-xl-4 col-md-6 col-12 mt--50 mt_md--30 mt_sm--30" data-aos="fade-up" data-aos-delay="300" data-aos-once="true">
       <div class="rn-portfolio" data-target="#exampleModalCenter" data-toggle="modal">
        <div class="inner">
         <div class="thumbnail">
          <a href="{{ link_21 }}">
           <img alt="Personal Portfolio Images" src="{{ img_6 }}"/>
          </a>
         </div>
         <div class="content">
          <div class="category-info">
           <div class="category-list">
            <a href="{{ link_22 }}">
             {{ var_47 }}
            </a>
           </div>
          </div>
          <h4 class="title">
           <a href="{{ link_23 }}">
            {{ var_48 }}
            <i class="feather-arrow-up-right">
            </i>
           </a>
          </h4>
                <p class="description project-description" >
                 {{ var_52 }}
                </p>
                            <a class="over-link" href="#"></a>
         </div>
        </div>
       </div>
      </div>
      <div class="col-lg-6 col-xl-4 col-md-6 col-12 mt--50 mt_md--30 mt_sm--30" data-aos="fade-up" data-aos-delay="500" data-aos-once="true">
       <div class="rn-portfolio" data-target="#exampleModalCenter" data-toggle="modal">
        <div class="inner">
         <div class="thumbnail">
          <a href="{{ link_24 }}">
           <img alt="Personal Portfolio Images" src="{{ img_7 }}"/>
          </a>
         </div>
         <div class="content">
          <div class="meta">
           <div class="category-info">
            <div class="category-list">
             <a href="{{ link_25 }}">
              {{ var_49 }}
             </a>
            </div>
           </div>
          </div>
          <h4 class="title">
           <a href="{{ link_26 }}">
            {{ var_50 }}
            <i class="feather-arrow-up-right">
            </i>
           </a>
          </h4>
                <p class="description project-description" >
                 {{ var_53 }}
                </p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <div class="backto-top">
    <div>
     <i data-feather="arrow-up">
     </i>
    </div>
   </div>
  </main>
  <script src="assets/js/vendor/jquery.js">
  </script>
  <script src="assets/js/vendor/modernizer.min.js">
  </script>
  <script src="assets/js/vendor/feather.min.js">
  </script>
  <script src="assets/js/vendor/slick.min.js">
  </script>
  <script src="assets/js/vendor/bootstrap.js">
  </script>
  <script src="assets/js/vendor/text-type.js">
  </script>
  <script src="assets/js/vendor/wow.js">
  </script>
  <script src="assets/js/vendor/aos.js">
  </script>
  <script src="assets/js/vendor/particles.js">
  </script>
  <script src="assets/js/main.js">
  </script>
  <script src="script.js">
  </script>
 </body>
</html>
