<section class="hero is-fullheight has-text-centered" id="hero">
  <div class="hero-body">


    <div class="container has-text-centered">




      <figure
        class="image column is-inline-block is-4-desktop is-two-fifths-tablet is-two-fifths-mobile">

        <svg id="visual" viewBox="0 0 910 910" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
          <defs>
            <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
              <stop offset="0%" style="stop-color:rgba(255, 255, 255, 0);stop-opacity:1" />
              <stop offset="100%" style="stop-color:hsla(165, 45%, 67%, 0.281);stop-opacity:1" />
            </linearGradient>
          </defs>

          <g transform="translate(449.6037720321648 466.7994433180529)">
            <path id="blob1"
              d="M404.9 -142.8C453.1 16.9 371.2 207.5 228.3 310.4C85.5 413.2 -118.3 428.3 -252.9 333.9C-387.5 239.4 -452.9 35.5 -399.2 -131.7C-345.6 -298.9 -172.8 -429.5 2.8 -430.4C178.3 -431.3 356.6 -302.5 404.9 -142.8"
              
              
              fill="url(#grad1)"></path>
          </g>

          <g transform="translate(416.7892352140027 459.6013855175365)">
            <path id="blob2"
              d="M392.2 -235.3C465.6 -99.2 453.2 77.7 373.5 216.8C293.9 356 146.9 457.5 22.7 444.4C-101.5 431.3 -203 303.5 -278.8 166.6C-354.5 29.7 -404.6 -116.4 -353.9 -239.5C-303.1 -362.5 -151.6 -462.5 3.9 -464.7C159.3 -467 318.7 -371.5 392.2 -235.3"
              fill="#8a3e0000"></path>
          </g>

          <g transform="translate(432.03492559179824 450.1996864208958)">
            <path id="blob3"
              d="M448.4 -160.8C498 6.9 397.8 208.3 232 331.7C66.1 455.1 -165.3 500.6 -296.2 405.9C-427.1 311.2 -457.5 76.3 -391.4 -114.2C-325.3 -304.7 -162.6 -450.8 18.4 -456.8C199.4 -462.8 398.8 -328.6 448.4 -160.8"
              fill="#BB004B00"></path>
          </g>
        </svg>
        <script>


          const tween12 = KUTE.fromTo(
            '#blob1',
            { path: '#blob1' },
            { path: '#blob2' },
            { duration: 1000 }
          );
          tween12.start();

          const tween23 = KUTE.fromTo(
            '#blob1',
            { path: '#blob2' },
            { path: '#blob3' },
            { duration: 1000 }
          );
          tween12.chain(tween23);

          const tween31 = KUTE.fromTo(
            '#blob1',
            { path: '#blob3' },
            { path: '#blob1' },
            { duration: 1000 }
          );

          tween23.chain(tween31);
          tween31.chain(tween12);

        </script>
        <img class="is-rounded is-overlay  " style="padding: 30px;" src="{{site.author-image}}"
          alt="{{site.author-name}}">
      </figure>


      <h1 class="title has-text-white is-size-1 is-uppercase has-text-weight-bold">
        {{site.title}}
      </h1>
      <h3 class="subtitle has-text-white-bis is-uppercase has-text-weight-medium is-marginless">
        {{site.description}}
      </h3>
      <hr>

      <div class="pb-5   column is-full is-size-2  ">
        {% unless site.twitter_username == %}
        <a href="http://www.twitter.com/{{site.twitter_username}}" target="_blank" class="has-text-white"><i
            class="fab fa-twitter"></i></a>
        {% endunless %}
        {% unless site.linkedin_username == %}
        <a href="http://www.linkedin.com/in/{{site.linkedin_username}}" target="_blank" class="has-text-white"><i
            class="fab fa-linkedin"></i></a>
        {% endunless %}
        {% unless site.github_username == %}
        <a href="http://www.github.com/{{site.github_username}}" target="_blank" class="has-text-white"><i
            class="fab fa-github"></i></a>
        {% endunless %}
        {% unless site.youtube_channel_id == %}
        <a href="http://www.youtube.com/channel/{{site.youtube_channel_id}}" target="_blank" class="has-text-white"><i
            class="fab fa-youtube"></i></a>
        {% endunless %}
      </div>
      <hr style="background-color: hsla(0, 0%, 100%, 0)">



      <a href="{{site.url}}{{site.baseurl}}/#about"
        class=" button is-white is-rounded is-outlined is-uppercase has-text-weight-normal">Read More</a>
      </a>


    </div>
  </div>
</section>